* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #606c71; }


.page-header {
  height: 10%;
  color: #fff;
  text-align: center;
  overflow: hidden;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957);

}


.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem;
  font-size: 3.25rem;
}

.project-tagline {
  margin-top: 2rem;
  font-weight: normal;
  opacity: 0.7; }

.main-content {
  position: absolute;
  padding: 0;
  margin-top: 0;
  width: 100%;
  max-width: none;
  height: 100%;
}


#headerDIV{



}
#guideDIV {
  position: relative;
  left:0; top:0;
  width:  100%;
  height: 90%;
  visibility: visible;


}
.googleDIV {
  position: absolute;
  width:100%;  
  height:100%;
  float:left;
}
#likeDIV {
  position: absolute;
  right:0;  
 width:50%;  
 height:100%; 
  opacity:0.7;
 visibility: hidden;

  float:left;
 background:#4FBE94;
 z-index:1000000000;


}

#dislikeDIV {
  position: absolute;
 left:0;  
 width:50%;
 height:100%; 
  opacity:0.7;
 visibility: hidden;

 float:left;

 background:#ED5D54;

 z-index:1000000000;
}

#likeIMG {
  position: absolute;
   width:250px;
  height:250px;
  left:0;
  top:50%;
  margin-top:-125px;
  display: inline-block;
    padding-top: 25px;
    padding-right: 50px;
    padding-bottom: 25px;
    animation: 0.75s likeMOVE infinite ;
    animation-timing-function:ease-in-out;
    animation-play-state:paused;

    -webkit-animation: 0.75s likeMOVE infinite ;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-play-state:paused;
}

#dislikeIMG {
  position: absolute;
   width:250px;
  height:250px; 
  right:0;
  top:50%;
  margin-top:-125px;
  display: inline-block;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 50px;
    animation: 0.75s dislikeMOVE infinite ;
    animation-timing-function:ease-in-out;
    animation-play-state:paused;
    
    -webkit-animation: 0.75s dislikeMOVE infinite ;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-play-state:paused;  
}
@keyframes likeMOVE {
  from {
  top: 50%;
  }
  
  30% {
  top:30%;
  }
  
  to {
  top:50%;
  }
}
@keyframes dislikeMOVE {
  from {
  top:50%;
  }
  
  30% {
  top:70%;
  }
  
  to {
  top:50%;
  }
}


input[type=button] {padding:5px; border:2px solid #ccc; 
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    background: black;
    border-style: solid;
    border-color: rgba(0,0,0,0.5);
    border-width: 10px;
    padding: 0;
    margin: 0;
    position: absolute;
    left:-25px;
    top:-25px;
}

html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Roboto;
  overflow: hidden;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.node {
  border-radius: 50%;
  position: absolute;
  border-color: rgba(255,255,255,.5);
  display: inline;
  text-overflow:ellipsis;
  vertical-align: center;
  font-size: 1em;
  color: rgba(0,0,0,0.9);
  text-align:center;

  display: block;
  margin: 2em 0;
}



.node__circle {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    content: "";
    /*
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.3);
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.1) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.1) 0%, transparent 100%);  
  background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.1) 0%, transparent 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.1) 0%, transparent 100%);*/
}

.node__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.node__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.node__content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
    font-size: 1.5em;
    word-break: break-all;
    color: #333333;
}


.edge {
  height:1px;
  background-color:#333333;
  position:absolute;
  transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -webkit-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
}
/* search box */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

.controls:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.pannel h3{
    color: blue;
}
