html, body, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 微軟正黑體;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.node {
  border-radius: 50%;
  position: absolute;
  border-color: rgba(255,255,255,.5);
  display: inline;
  text-overflow:ellipsis;
  vertical-align: center;
  font-size: 1em;
  color: rgba(0,0,0,0.9);
  text-align:center;

  display: block;
  margin: 2em 0;
}



.node__circle {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    content: "";
    /*
  box-shadow: inset -25px -25px 40px rgba(0,0,0,.3);
  background-image: -webkit-linear-gradient(-45deg, rgba(255,255,220,.1) 0%, transparent 100%);
  background-image: -moz-linear-gradient(-45deg, rgba(255,255,220,.1) 0%, transparent 100%);  
  background-image: -o-linear-gradient(-45deg, rgba(255,255,220,.1) 0%, transparent 100%);
  background-image: -ms-linear-gradient(-45deg, rgba(255,255,220,.1) 0%, transparent 100%);*/
}

.node__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.node__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.node__content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
    font-size: 1.5em;
    word-break: break-all;
    color: white;
}


.edge {
  height:1px;
  background-color:rgba(0,0,0,0.5);
  position:absolute;
  transform-origin:0% 0%;
  -moz-transform-origin:0% 0%;
  -webkit-transform-origin:0% 0%;
  -o-transform-origin:0% 0%;
}
/* search box */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

.controls:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

